---
import Layout from '../layouts/Layout.astro';
import IntroCard from '../components/IntroCard.astro';
import ProjectsCard from '../components/SpotifyCard.astro';
import PortafolioCard from '../components/PortfolioCard.astro';
import BlogCard from '../components/BlogCard.astro';
import ChatCard from 'src/components/chat/ChatCard.jsx';
---

<Layout 
	title="Home"
>
		<div 
			class="m-auto max-w-6xl w-full  grid grid-cols-2 p-4 sm:grid-cols-4 gap-2 md:gap-2">
			
			<IntroCard/>
			<ProjectsCard/>
			<BlogCard/>
			<ChatCard client:only="react"/>
			<!-- <PortafolioCard /> -->

		</div>
</Layout>

<style>
</style>
